ul.locations li.location {
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  border-radius:10px;
  margin: 5px;
}

ul.locations li div.address {
  float: right;
  width: 250px;
}

form {
  display: flex;
  flex-direction: row;
}

input#search {
  flex: 1;
}

.info-links {
  text-align: center;
}
