ul.locations li.location {
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  border-radius:10px;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

ul.locations li.location.hot {
  background-color: #D01848;
  color: white;
}

ul.locations li.location.hot a {
  color: white;
}

li.day {
  float: left;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

li.day ul {
  margin-left: 0;
}

ul.locations li div.address {
  float: right;
  width: 200px;
}

form {
  display: flex;
  flex-direction: row;
}

input#search {
  flex: 1;
}

.info-links {
  text-align: center;
}

h5 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
